#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Trap;
}

.box-shadow {
  box-shadow: 20px 5px 20px 0px #0000000d;
}

.aboutsec_bg {
  background-repeat: "no-repeat";
  background-image: url("../src//assets/about1.png");
  background-size: "contain";
  background-position: "center";
}
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #e0e0e0; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #004F57; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

/* For Firefox */
.scrollbar-thin {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: #004F57 #e0e0e0; /* Thumb color and track color */
}

@font-face {
  font-family: "Trap Regular";
  src: url("/fonts/Trap-Regular.otf") format("opentype");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Trap ExtraBold";
  src: url("/fonts/Trap-ExtraBold.otf") format("opentype");

  font-weight: normal;
  font-style: normal;
}

